<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>DeeDoop</string>
	<key>CFBundleIdentifier</key>
	<string>io.deedoop.app</string>
	<key>CFBundleName</key>
	<string>DeeDoop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DeeDoop needs access to your photo library to scan for duplicate photos and videos, and to remove them when you choose.</string>
</dict>
</plist>
